* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(25, 26, 27);
    color: white;
    padding: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: cyan;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

a:hover {
    opacity: 0.5;
    transition: 0.2s;
}

#title {
    font-size: 300%;
    margin-bottom: 0;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5em;
}

#gameArea {
    padding: 1em;
}

#options {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameHistoryTitle {
    margin-bottom: 0;
}

#gameHistory {
    height: 250px;
    width: 125px;
    overflow-y: auto;
    background-color: rgb(39, 41, 43);
    border-radius: 5px;
    box-shadow: 2px 3px 10px black;
    padding: 1em;
    text-align: left;
}

#gameHistory li {
    margin-left: 2em;
    padding: 0.2em;
}

#buttons {
    margin: 0.5em;
}

button {
    border-style: none;
    border-radius: 0.5em;
    padding: 0.7em;
    background-color: rgb(70, 70, 70);
    color: white;
    font-weight: bold;
    transition: 0.2s;
    box-shadow: 2px 3px 10px black;
}

button:hover {
    transition: 0.2s;
    opacity: 0.5;
    cursor: pointer;
}

.dropdownOptions {
    padding: 0.5em;
}

img {
    display: block;
    margin: 1em;
}

#chessOof {
    display: none;
}